<div class="container">
    <br>
    <div class="col-12">
        <div class="btn-container"><button (click)="showGrid()" class="btn btn-primary">Show Grid</button></div>
        <div class="btn-container"> <button (click)="hideGrid()" class="btn btn-warning">Hide Grid</button></div>
        <div class="btn-container"><button (click)="showCharts()" class="btn btn-primary">Show Chart</button></div>
        <div class="btn-container"><button (click)="hideCharts()" class="btn btn-warning">Hide Chart</button> </div>
    </div>
    <br>
    <div class="map">
        <app-gmap></app-gmap>
    </div>
    <br>
    <div class="grid">
        <app-data-grid *ngIf ="showTable"></app-data-grid>
    </div>
    <br>
    <div class="grid">
        <app-charts *ngIf ="showChart"></app-charts>
    </div>
</div>