/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

.header, .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  .header {
    justify-content: space-between;
  }
  
  .nav {
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  
  @media all and (min-width: 640px) {
    .header, .nav {
      -webkit-flex-direction: row;
      flex-direction: row;
    }
  }
  
  @media all and (min-width: 1030px) {
    .nav {
      -webkit-flex: none;
      flex: none;
    }
  }
  
  
  /******************************
  Treehouse Styling
  *******************************/
  
  body {
    margin: 0;
    font-family: Helvetica;
    background: url('https://wallpapercave.com/wp/wp2632442.jpg') top center no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }

  .btn-container{
    margin-right: 10px;
    display: inline;
}
  
  